@import "abstracts";

.p-button:enabled,
.p-button:enabled:hover {
  background-color: $primary;
  border: 1px solid $primary;

  &:hover {
    background-color: $secondary;
    border: 1px solid $secondary;
    color: $primary;
  }
}
