$page-background: #F8F9FB;
$card-background: #FFFFFF;

$headerTint1: #6CDFB7;
$headerTint2: #00B5B6;

$primary: #173A4D;
$secondary: #79CFCC;

$fail: #CE0025;
$success: #007139;

$divider: rgba(0, 0, 0, 0.1);
