@import "abstracts";

.container {
  width: 40vw;
  margin: 6vh auto 0;

  h1 {
    padding: 0.625rem 1.125rem;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.375rem;
    background-color: $card-background;
    padding: 2rem;
  }

  p {
    padding-bottom: 0.625rem;
  }
}
