@import 'abstracts';

.content-layer {
  position: relative;
}

.background-layer:before {
  content: "";
  background-image: linear-gradient(0.25turn, $headerTint1, $headerTint2);
  clip-path: polygon(0% 60%, 100% 100%, 100% 0%, 0% 0%);
  fill: $page-background;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40vh;
}
