@import 'abstracts';

body, html {
  font-family: var(--font-family);
}

html, body, h1, h2, h3, h4, p, label {
  color: $primary;
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

h2 {
  font-size: 1.125rem;
  font-weight: 600;
}

p, label {
  font-size: 1rem;
}
